<div *ngIf="showTable" class='right-panel-content'>
    <table style="width:100%">
        <tr>
            <th>Time</th>
            <th>Position</th>
        </tr>
        <tr>
            <td>45 sec</td>
            <td (click)="showDetails()">Down dog </td>
        </tr>
        <tr>
            <td>60 sec</td>
            <td>Cat/cow</td>
        </tr>
        <tr>
            <td>45 sec</td>
            <td>Down dog</td>
        </tr>
        <tr>
            <td>60 sec</td>
            <td>Chaturanga</td>
        </tr>
        <tr>
            <td>45 sec</td>
            <td>Up dog</td>
        </tr>
    </table>
</div>
